data/fraud_detector_data.csv filter=lfs diff=lfs merge=lfs -text
data/Social_Engineering_Emails.csv filter=lfs diff=lfs merge=lfs -text
data/Phishing_Data.csv filter=lfs diff=lfs merge=lfs -text
resources/Phishing-Model filter=lfs diff=lfs merge=lfs -text
resources/SocEngg-Model filter=lfs diff=lfs merge=lfs -text
